.desktopContainer {
    display: none;
}

.mobileContainer {
    display: block;
}

@media (min-width: 768px) {
    .desktopContainer {
        display: block;
    }

    .mobileContainer {
        display: none;
    }
}